html {
  margin: 0;
  padding: 0;
}

#slide-num {
    font-family: "Lato", "M PLUS 1p";
    position: fixed;
    margin: 0;
    right: 1rem;
    bottom: 2px;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
    color: var(--main-dark-bg-color);
}